.music-video {
    position: absolute;
    right: 10rem;
    top: 0;
}
.music-puzis {
    display: flex;
    justify-content: center;
}
.puzi-video {
    position: fixed;
    top: 10rem;
    right: 10rem;
}
@media (min-width: 768px) {
    .layout {
        max-width: 80rem;
    }
}
